{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020, // Allows for the parsing of modern ECMAScript features
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Allows for the parsing of JSX
    }
  },
  "env": {
    "node": true,
    "browser": true,
    "jest": true,
    "mocha": true
  },
  "extends": ["prettier", "plugin:@typescript-eslint/recommended"],
  "plugins": ["prettier", "@typescript-eslint"],
  "rules": {
    "react/react-in-jsx-scope": "off"
  },
  "globals": {
    "React": "writable"
  }
}
