.container {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', serif, Cambria, Helvetica Neue,
    sans-serif;
  font-weight: 600;
  border-top: 1px solid lightgray;
}

@media (max-width: 769px) {
  .container {
    font-size: 1.5rem;
    width: 100%;
  }
}

.list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0;
  display: flex;
  justify-content: space-evenly;
}

@media (max-width: 640px) {
  .list {
    width: calc(100% - 20px);
    display: flex;
    flex-flow: column;
  }
}

.listItem a {
  color: #9227ff;
  text-decoration: none;
  border: none;

  &:hover {
    border-bottom: 1px solid #9227ff;
  }
}

.listItem {
  margin: 0 10px 0;
  text-transform: lowercase;

  &:first-of-type {
    margin-left: 0;
  }
}

@media (max-width: 640px) {
  .listItem {
    margin: 3px 0;
  }
}
